.main {
  flex-grow: 1;
  position: relative;
}

.menu {
  width: 376px;
  height: 100%;
  background: linear-gradient(140.98deg, #3A3D4E 19.26%, #1F1523 66.6%);
  box-shadow: 4px -4px 50px rgba(83, 86, 102, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.75s ease-in-out;
  transform: translateX(-376px);
}

.menu--active {
  transform: translateX(0);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 50px 70px;
}

.menu__item {
  margin-bottom: 15px;
  display: flex;
}

.menu__item--fixed::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 22px;
  background-image: url('/img/fixed-icon.svg');
  background-repeat: no-repeat;
}

.menu__item--add::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 23px;
  background-image: url('/img/add-icon.svg');
  background-repeat: no-repeat;
}

.menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-family: "SF Pro Display", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
