.header {
  width: 100%;
  min-height: 80px;
  background: linear-gradient(117.98deg, #3a3d4e 46.98%, #1f1523 95.78%);
  box-shadow: 660px 4px 250px rgba(32, 23, 36, 0.7), 5px 10px 50px #2e303e;
  z-index: 1;
}

.navigation {
  padding: 17px 0 16px 0;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  margin-right: 26px;
}

.navigation__item {
  width: 46px;
  height: 46px;
  margin-right: 30px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140.4deg, #271827 3%, #2c2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: none;
  padding: 0;
  margin: 0;
}

.navigation__link::before {
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(154.25deg, #4d3c50 21.96%, #1a1523 100.49%);
  box-shadow: 3px 3px 16px #000000;
  border-radius: 8px;
}

.navigation__link:hover .navigation__icon path,
.navigation__link:focus .navigation__icon path {
  fill: rgba(255, 255, 255, 0.7);
}

.navigation__link:hover::before,
.navigation__link:focus::before {
  opacity: 0.5;
}

.navigation__link:active::before {
  visibility: hidden;
}

.navigation__link:active .navigation__icon path {
  fill: #ffffff;
}

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  position: relative;
  width: 52px;
  height: 52px;
  transition: 0.75s ease-in-out;
}

.from__label {
  width: 100%;
  height: 100%;
  background: none;
  box-shadow: none;
  /* background: linear-gradient(140.4deg, #271827 3%, #2C2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35); */
  border-radius: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  /* padding: 3px 5px; */
  padding: 4px;
  transition: 0.75s ease-in-out;
}

.form__button {
  /* position: absolute; */
  /* top: 3px; */
  /* left: 5px; */
  min-width: 46px;
  height: 46px;
  border: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(140.4deg, #271827 3%, #2C2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.75s ease-in-out;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__button:hover .form__icon path,
.form__button:focus .form__icon path {
  fill: rgba(255, 255, 255, 0.7);
}

.form__button:hover::before,
.form__button:focus::before {
  opacity: 0.5;
}

.form__button:active::before {
  visibility: hidden;
}

.form__button:active .form__icon path {
  fill: #ffffff;
}

.form__button::before {
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(154.25deg, #4D3C50 21.96%, #1A1523 100.49%);
  box-shadow: 3px 3px 16px #000000;
  border-radius: 8px;
}

.from__search {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: #ffffff;
  outline: none;
  transition: 0.75s ease-in-out;
  display: none;
}

.from__search::-webkit-search-cancel-button {
  display: none;
}

.form--active {
  width: 383px;
}

.form--active .from__label {
  background: linear-gradient(140.4deg, #271827 3%, #2C2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35);
  justify-content: flex-start;
}

.form--active .from__search {
  width: 100%;
  height: 100%;
  margin: 0 20px;
  display: block;
}

.theme {
  width: 107px;
  height: 52px;
  background: linear-gradient(140.4deg, #271827 3%, #2C2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-left: auto;
  padding: 3px 5px;
  position: relative;
}

.theme__button {
  width: 46px;
  height: 46px;
  background: linear-gradient(140.4deg, #271827 3%, #2C2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2), inset 4px 4px 8px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.75s ease-in-out;
  transform: translateX(0);
  /* transform: translateX(51px); */
  position: relative;
  z-index: 1;
}

.theme__button::before {
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(154.25deg, #4D3C50 21.96%, #1A1523 100.49%);
  box-shadow: 3px 3px 16px #000000;
  border-radius: 8px;
}

.theme__icon--moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme__icon--sun {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.logo {
  margin-left: 80px;
}
