.greeting {
  display: flex;
  // margin-top: 200px;
  margin-top: 129px;
}

.greeting__info {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-right: auto;
}

.greeting__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 72px;
  line-height: 86px;
  font-family: "SF Pro Display", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.theme--dark .greeting__title {
  color: #f9e4b0;
}

.theme--light .greeting__title {
  color: #6d90ff;
}

.greeting__description {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  font-family: "SF Pro Display", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.theme--dark .greeting__description {
  color: #ffffff;
}

.theme--light .greeting__description {
  color: #5e647c;
}

.greeting__image {
  display: none;
}

.theme--dark .greeting__image--dark {
  display: block;
}

.theme--light .greeting__image--light {
  display: block;
}

@media (max-width: 1024px) {
  .greeting {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .greeting__title {
    margin-bottom: 21px;
    margin-left: 5px;
  }

  .greeting__info {
    margin-bottom: 90px;
  }

  .greeting__description {
    margin-left: 2px;
    font-size: 36px;
  }

  .greeting__image {
    width: 536px;
    height: 478px;
    margin-left: 86px;
  }
}
