.info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.info__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  font-family: "SF Pro Display", "Arial", sans-serif;
}

.theme--dark .info__title {
  color: #ffffff;
}

.theme--light .info__title {
  color: #5e647c;
}

.info__description {
  margin: 0;
  padding-left: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "SF Pro Display", "Arial", sans-serif;
}

.theme--dark .info__description {
  color: #9f9f9f;
}

.theme--light .info__description {
  color: #727272;
}

.info__image {
  display: none;
  margin-left: auto;
}

.theme--dark .info__image--dark {
  display: block;
}

.theme--light .info__image--light {
  display: block;
}

.info--all .info__icon {
  position: absolute;
  top: 130px;
  right: 81px;
  width: 523px;
  height: 488px;
  // margin-top: -7px;
  // margin-right: 81px;
}

.info--search .info__icon {
  position: absolute;
  top: 142px;
  right: 90px;
  width: 508px;
  height: 476px;
  // margin-top: 25px;
  // margin-right: 90px;
}

.info--about .info__icon {
  position: absolute;
  top: 142px;
  right: 45px;
  width: 486px;
  height: 476px;
  // margin-top: 25px;
  // margin-right: 45px;
}
