.navigation {
  margin-right: 26px;
}

.navigation__list {
  @include list-reset;
  display: flex;
}

.navigation__item {
  width: 46px;
  height: 46px;
  margin-right: 30px;
}

.navigation__item:last-child {
  margin-right: 0;
}
