.search {
  position: relative;
  width: 52px;
  height: 52px;
  transition: 0.75s ease-in-out;
}

.search__label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px;
  background: none;
  border-radius: 10px;
  box-shadow: none;
  transition: 0.75s ease-in-out;
}

.search__field {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  transition: 0.75s ease-in-out;
}

.theme--dark .search__field {
  color: #ffffff;
}

.theme--dark .search__field::placeholder {
  color: #ffffff;
}

.theme--light .search__field {
  color: #5e647c;
}

.theme--light .search__field::placeholder {
  color: #5e647c;
}

.search__field::-webkit-search-cancel-button {
  display: none;
}

.search--active {
  width: 383px;
}

.search--active .search__label {
  justify-content: flex-start;
}

.theme--dark .search--active .search__label {
  background: linear-gradient(140.4deg, #271827 3%, #2c2535 115.66%);
  box-shadow: -4px -4px 16px rgba(88, 76, 98, 0.25), 3px 3px 12px rgba(0, 0, 0, 0.2),
    inset 4px 4px 8px rgba(0, 0, 0, 0.35);
}

.theme--light .search--active .search__label {
  background: linear-gradient(90.15deg, #ebf3fc 1.15%, #e2ecfd 100.11%);
  box-shadow: -4px -3px 16px rgba(255, 255, 255, 0.7), -1px 3px 65px rgba(182, 194, 215, 0.49),
    inset 10px 10px 10px rgba(224, 235, 248, 0.2), inset 5px 5px 10px rgba(167, 172, 190, 0.7);
}

.search--active .search__field {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 20px;
}
